<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Главная</title>
</head>
<body>
    <div class="header">
        <form action="/random_film" method="post">
            <input type="hidden" name="genre" value="{{ genre }}">
            <input type="submit" value="Show Movies">
        </form>
    </div>

    <ul class="films">
        {% for film in films %}
        <a class="film_detail_view_link" href="/film/{{ film.id }}">
            <li class="film">
                {{ film.title }}: {{ film.genre }}. Рейтинг: {{ film.rating }}
            </li>
        </a>
        {% endfor %}
    </ul>
</body>
</html>